<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places,geometry&amp;key=AIzaSyBLib7H7_zrXbst6Ln_lV9yU12zxsT_J2M"></script>
</head>

<body id="page-top">
<div id="wrapper">
    <!-- -->
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-text mx-3">
                    <span>PostService</span>

                </div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link" href="/"><span>Home</span></a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link"
                                                                          href="#"><span>REST API</span></a></li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                        <span>Profile</span>
                    </a>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                        <a class="dropdown-item" href="/profile">My Profile</a>
                        <a class="dropdown-item" href="/changeCredentials">Change Credentials</a>
                    </div>
                </li>

                <!-- --->
                <li class="nav-item dropdown" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                        <a class="dropdown-item" href="#">Validate performers</a>
                        <a class="dropdown-item" href="#">Shipments statistic</a>
                    </div>
                </li>
                <!-- --->
                <li class="nav-item dropdown"
                    th:if="${#authorization.expression('hasRole(''EMPLOYER'') or hasRole(''ADMIN'')')}">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                        <span>Employer</span>
                    </a>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                        <a class="dropdown-item" href="/shipments/new">Create a new shipment</a>
                        <a class="dropdown-item" href="/shipments/list">List of created shipments</a>
                    </div>
                </li>
                <!-- --->
                <li class="nav-item dropdown"
                    th:if="${#authorization.expression('hasRole(''PERFORMER'') or hasRole(''ADMIN'')')}"
                >
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                        <span>Performer</span>
                    </a>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                        <a class="dropdown-item" href="/shipments/list">Taken shipments</a>
                        <a class="dropdown-item" href="/shipments/list">Take new shipment</a>
                    </div>
                </li>
                <!-- --->
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" href="/auth/login"><span>Login</span></a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link"
                                                                           href="/auth/registration"><span>Register</span></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" class="logout-form">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <a class="nav-link">
                            <button type="submit" sec:authorize="isAuthenticated()">Logout</button>
                        </a>
                    </form>
                </li>
                <!-- --->
            </ul>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i
                            class="fas fa-bars"></i></button>
                    <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                    </form>
                    <ul class="navbar-nav flex-nowrap ms-auto">
                        <li class="nav-item dropdown d-sm-none no-arrow" style=""><a class="dropdown-toggle nav-link"
                                                                                     aria-expanded="false"
                                                                                     data-bs-toggle="dropdown" href="#"><i
                                class="fas fa-search"></i></a>
                            <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="me-auto navbar-search w-100">
                                    <div class="input-group"><input class="bg-light form-control border-0 small"
                                                                    type="text" placeholder="Search for ...">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary py-0" type="button"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow">
                            <div class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                                   href="#" sec:authorize="isAuthenticated()">
                                    <span class="d-none d-lg-inline me-2 text-gray-600"
                                          sec:authentication="name"></span>
                                </a>
                                <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                    <a class="dropdown-item" href="/profile"
                                       sec:authorize="isAuthenticated()">Profile</a>
                                    <a class="dropdown-item" href="/changeCredentials"
                                       sec:authorize="isAuthenticated()">Change Credentials</a>
                                    <div class="dropdown-divider" sec:authorize="isAuthenticated()"></div>
                                    <a class="dropdown-item" href="/auth/login"
                                       sec:authorize="!isAuthenticated()">Login</a>
                                    <a class="dropdown-item" href="/auth/registration"
                                       sec:authorize="!isAuthenticated()">Register</a>
                                    <form th:action="@{/logout}" method="post" class="logout-form">
                                        <input type="hidden" th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}"/>
                                        <button type="submit" class="dropdown-item" sec:authorize="isAuthenticated()">
                                            Logout
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- -->
            <div class="container-fluid">
                <h3 class="text-dark mb-2">Created Shipments</h3>
                <a href="#" class="back-link">
                    <i class="fas fa-chevron-left"></i>Back </a>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Shipments List</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label
                                        class="form-label">Show&nbsp;<select
                                        class="d-inline-block form-select form-select-sm">
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>&nbsp;</label></div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end dataTables_filter" id="dataTable_filter"><label
                                        class="form-label"><input type="search" class="form-control form-control-sm"
                                                                  aria-controls="dataTable"
                                                                  placeholder="Search"></label></div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table text-center table-striped table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Photo</th>
                                    <th scope="col">Invoice</th>
                                    <th scope="col">Creation Time</th>
                                    <th scope="col">Price($)</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-image" th:each="shipment : ${shipments}" style="vertical-align: middle;">
                                    <th scope="row"><img alt=""
                                                         th:src="*{'data:image/jpeg;base64,'+{shipment.shipmentPhoto}}"
                                                         style="width: 100px;height: 100px;"></th>
                                    <td th:text="${shipment.invoice}"></td>
                                    <td th:text="${shipment.localDateTime}"></td>
                                    <td th:text="${shipment.shipmentPrice}"></td>
                                    <td th:text="${shipment.status}"></td>
                                    <td>
                                        <a href="/shipments/list">
                                            <button type="button" class="btn btn-sm btn-primary"><i
                                                    class="far fa-eye"></i></button>
                                        </a>
                                        <a href="/shipments/list">
                                            <button type="button" class="btn btn-sm btn-success"><i
                                                    class="fas fa-edit text-white"></i></button>
                                        </a>
                                        <a href="/shipments/list">
                                            <button type="button" class="btn btn-sm btn-danger"><i
                                                    class="far fa-trash-alt"></i></button>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing
                                    1 to 10 of 27</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"
                                                                          href="#"><span aria-hidden="true">«</span></a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span
                                                aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>POSTSERVICE 2023</span></div>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top" style="display: none;"><i
            class="fas fa-angle-up"></i></a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="/assets/js/theme.js"></script>


</body>

</html>