<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>

<body class="bg-gradient-primary">
<section class="py-1">
    <div class="container py-xl-5 py-4">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="font-weight-bold mb-2 text-white">Change Data</p>
                <h2 class="font-weight-bold text-white">Enter your credentials</h2>
                <h6 class="font-weight-bold text-white ">You can change: Login and Password, Login only or Password only</h6>
                <h6 class="font-weight-bold text-white ">If you change only the password or login, clear the other fields!</h6>
                <h6 class="font-weight-bold text-white ">It is required to enter the current password for all operations</h6>

            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-7 col-xl-6">
                <div class="card">
                    <div class="card-body  d-flex flex-column pt-5 pb-5">
                        <form th:action="@{/changeCredentials}" th:object="${person}" method="post" >
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="text-dark">Change Password:</h5>
                                    <label class="mt-2">Current Password</label>
                                    <div class="form-group ">
                                        <input type="password" class="form-control" placeholder="Current Password" th:field="*{password}" name="input-0">
                                    </div>
                                    <label class="mt-2">New Password</label>
                                    <div class="form-group ">
                                        <input type="password" class="form-control" placeholder="New Password" th:field="*{password}" name="input-1">
                                    </div>
                                    <label class="mt-2">Confirm Password</label>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password" th:field="*{password}" name="input-2">
                                    </div>
                                    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                                </div>
                                <div class="col">
                                    <h5 class="text-dark">Change Login:</h5>
                                    <label class="mt-2">Current Login</label>
                                    <div class="form-group ">
                                        <input type="text" class="form-control" placeholder="Current Login" readonly="" th:value="${#authentication.principal.username}">
                                    </div>
                                    <label class="mt-2">New Login</label>
                                    <div class="form-group ">
                                        <input type="text" class="form-control" placeholder="New Login" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" th:field="*{username}" name="input-3">
                                        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email Error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="form-group  mt-4">
                                    <button class="btn btn-primary btn-sm" type="submit">Change Credentials</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.addEventListener('load', function() {
        var inputs = document.querySelectorAll('input[name^="input-"]');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].value = '';
        }
    });
</script>
</body>

</html>